
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Разрешаем любому пользователю читать аватары
    // Разрешаем аутентифицированному пользователю записывать/обновлять/удалять ТОЛЬКО свой аватар
    match /avatars/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Разрешаем любому пользователю читать изображения портфолио
    // Разрешаем аутентифицированному пользователю записывать/обновлять/удалять работы ТОЛЬКО в своем портфолио
    match /portfolio/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Правила для галереи портфолио
    match /portfolio-gallery/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
